@import url('https://fonts.googleapis.com/css?family=Questrial');

*,::before,::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: black;    
    font-family: 'Questrial', sans-serif;
}

#app
{

}

.top-nav
{        
    z-index: 99;
    /* box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.5); */
    max-width: 100%;     
    background-color: transparent;              
}

.navItem
{        
    position: absolute;    
    top: 0;
    left: 0;
    max-width: 100%;
    width:100%;
    /* background: none; */
    padding: 1vh 1vh;    
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3);    
    display: flex;
    flex-flow: row wrap;
    justify-content:center;  
    align-items: center;     
}

.navColor
{
    position: fixed;
    background:linear-gradient(to right,rgba(44, 130, 201, 1),#9b59b6);
}

.navNoColor
{
    background:none;
}

.navItem a
{                   
    color: rgb(228, 225, 225);
    font-size: 1.1em;         
    padding: 10px 20px;
    transition: color 500ms ease-in-out;
}

.active
{
    color: #fff !important;
}

#logo
{
    align-self: flex-start;
    color: white !important;    
    font-weight: bold;
    font-size: 1.4em;
}

.heroImage
{        
    position: relative;       
    z-index: -1;
    width: 100%; 
    min-height: 100vh;
    height: 100%;
    background-image: url('images/heroImage.jpg');
    background-color: rgba(0,0,0,0.5); 
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


.heroImage::before
{
    content: '';
    background-color: rgba(46, 49, 49, 0.6);
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    left: 0;
}


.heroImage::after
{
    content: '';
    background-color: rgba(44, 130, 201, 0.5);
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    position: absolute;
    top: 0;
    left: 0;
}

.heroText
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;    
}

.heroText h1
{
    text-align: center;
    padding: 10px;
    font-size: 5.5em;
    box-shadow: 0px 5px 0px -2px white;
}

.heroText p
{
    padding: 20px;
    line-height: 1.6;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5em;    
    text-align: center;
}

.showcase
{
    padding: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.showcase img
{
    width: 100%;
    grid-column: 1/2;
    box-shadow: 10px 0px 50px 0px rgba(0, 0, 0, 0.3),
               -10px 0px 50px 0px rgba(0, 0, 0, 0.3);
}

.showcase--text
{
    width: 100%;
    text-align: center;
    align-self: center;
    grid-column: 2/4;
    padding: 2vh 5vh;   
}

.showcase--text h1
{
    font-size: 2em;
    color: #103049;
    font-weight: normal;    
    font-family: 'Questrial', sans-serif;
}

.showcase--text .slider
{
    padding: 10vh 0;
    max-width: 500px;
    width: 100%;
}

@media screen and (max-width:600px)
{
    .navItem
    {
        justify-content: center;
    }
    
    .navItem a:not(:first-child)
    {

        display: none;
    }

    .heroImage
    {
        min-height: 100vh;
    }

    .heroText h1
    {
        font-size: 3em;
    }

    .heroText p
    {
        padding-left:0;
        padding-right:0;
        font-size: 1.2em;
    }

    .showcase
    {        
        padding-top:15vh;
        grid-gap: 5vh;
    }

    .showcase img
    {        
        grid-column: 1/4;
    }

    .showcase--text
    {
        padding: 0vh;
        grid-column: 1/4;
    }

    .showcase--text h1
    {
        padding: 1vh 0;
        font-size: 1.2em;
    }

    .showcase .slider
    {
        padding: 3vh;
    }
}